:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.layout-m {
  margin: 0 24px;
}

.layout-p {
  padding: 0 24px;
}

.btn {
  background-color: var(--cyan);
  border-radius: 30px;
  padding: 12px 2.5em !important;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.btn-square {
  color: white;
  font-size: 1em;
  background-color: var(--cyan);
  padding: .65em;
  border-radius: 6px;
  text-align: center;
}

.btn:hover, .btn-square:hover {
  background: #96e4e4;
}


h1, h2, h3, h4 {
  color: var(--very-dark-blue);
}

header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px !important;
  position: relative;
}

header .logo {
  /* border: 1px solid blue; */
  max-width: 120px;
}

header .logo img {
  display: block;
}

/* header .menu {
  border: 1px solid blue;
} */

header .menu .hamburguer {
  width: 24px;
  height: 21px;
  position: relative;
  display: block;
}

header .menu .hamburguer .line {
  background: var(--gray);
  width: 24px;
  height: 3px;
  position: relative;
  display: block;
  margin-top: 6px;
}

header .menu .hamburguer .line:nth-of-type(1) {
  margin-top: 0;
}

header .menu label {
  /* border: 1px solid orange; */
  width: 24px;
  height: 21px;
  position: absolute;
  top: 0;
  left: 0;
}

header .menu input[name=open-menu] {
  display: none;
}

header .menu input:checked + nav {
  display: block;
}

header .menu nav {
  display: none;
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  background: var(--dark-violet);
  border-radius: 10px;
  padding: 0 24px 20px 24px;
  z-index: 2;
}

header .menu nav ul {
  padding: 0;
  text-align: center;
}

header .menu nav ul li {
  list-style: none;
}

header .menu nav ul li a {
  text-decoration: none;
  color: white;
  padding: 18px 0;
  display: block;
}

header .menu nav ul .login {
  border-top: 1px solid #544a6d;
  margin-top: .5em;
  padding-top: .5em;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.hero .hero-img {
  /* border: 1px solid blue; */
  background: url(../img/illustration-working.svg);
  background-repeat: no-repeat;
  background-position: 24px 24px;
  background-size: 500px auto;
  width: 100%;
  height: 360px;
}

.hero .hero-content {
  text-align: center;
  margin-top: 1em;
}

.hero .hero-content h1 {
  font-size: 2.2em;
  line-height: 1.2em;
  margin: .4em 0;
}

.hero .hero-content p {
  color: var(--grayish-violet);
  line-height: 1.8em;
  font-weight: 500;
}

.hero .hero-content .btn {
  margin: 1em 0 4em 0;
}

.shortener {
  position: relative;
  background: #f0f1f6;
}

.shortener .background {
  /* border: 1px solid red; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 84px;
  background: white;
  z-index: 0;
}

.shortener form {
  background: url(../img/bg-shorten-mobile.svg) no-repeat;
  background-position: right top;
  background-color: var(--dark-violet);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.shortener form input {
  box-sizing: border-box;
  border: 0;
  border-radius: 6px;
  outline: 0;
  padding: .8em;
  font-family: 'Poppins', sans-serif;
  font-size: .9em;
  width: 100%;
}

.shortener form input[type=text] {
  color: var(--gray);
}

.shortener form input[type=submit] {
  margin-top: 1em;
}

.shortener form .error-msg {
  display: none;
  font-size: .65em;
  color: var(--red);
  text-align: left;
  margin-top: .6em;
  width: 100%;
  font-style: italic;
}

.shortener form.error input[type=text] {
  border: 3px solid var(--red);
}

.shortener form.error .error-msg {
  display: block;
}

.shortener .links {
  padding: 2em 0;
}

.shortener .links .link {
  margin-bottom: 1.2em;
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
}

.shortener .links .link .original,
.shortener .links .link .shortened-content {
  background: white;
  padding: 16px;
  font-size: .85em;
}

.shortener .links .link .original {
  border-radius: 6px 6px 0 0;
  color: var(--very-dark-blue);
  text-decoration: none;
}

.shortener .links .link .shortened-content {
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--gray);
}

.shortener .links .link .shortened-content a {
  text-decoration: none;
}

.shortener .links .link .shortened-content a:nth-of-type(1) {
  color: var(--cyan);
  margin-bottom: 1em;
}

.shortener .links .link .shortened-content .link-copied {
  background: var(--dark-violet);
}

.statistics {
  /* background: var(--gray); */
  background: #f0f1f6;
  padding-top: 3em !important;
  padding-bottom: 5em !important;
  text-align: center;
}

.statistics h2 {
  margin: 0;
}

.statistics p {
  color: var(--grayish-violet);
  font-size: .9em;
  line-height: 1.7em;
}

.statistics .statistics-items .item {
  background: white;
  border-radius: 6px;
  margin-top: 5em;
  padding: 1em 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics .statistics-items .item:not(:last-child)::after {
  content: " ";
  width: 8px;
  height: 5em;
  background: var(--cyan);
  position: absolute;
  bottom: -5em;
}

.statistics .statistics-items .item .icon {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-violet);
  border-radius: 100%;
  width: 88px;
  height: 88px;
  margin-top: calc(-1em - 44px);
}

.statistics .statistics-items .item img {
  display: block;
}

.statistics .statistics-items .item p {
  font-size: .8em;
}

.call-to-action {
  background: url(../img/bg-boost-mobile.svg) no-repeat;
  background-size: 100% 100%;
  background-color: var(--dark-violet);
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action h2 {
  color: white;
  margin: 0 0 .8em 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--very-dark-violet);
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer .nav-section {
  text-align: center;
  margin-top: 3em;
}

footer .nav-section h4 {
  color: white;
}

footer .nav-section a {
  color: var(--grayish-violet);
  text-decoration: none;
  font-size: .8em;
  line-height: 2.2em;
}

footer .social ul {
  display: flex;
  justify-content: center;
  margin: 2em 0 0 0;
}

footer .social ul li {
  margin: 0 .7em;
}

footer .social ul li a {
  color: white;
  font-size: 1.6em;
}

@media screen and (min-width: 550px) {
  .hero .hero-img {
      background-position: center 24px;
  }
}

@media screen and (min-width: 1024px) {
  .layout-m {
      margin: 0 100px;
  }
  
  .layout-p {
      padding: 0 100px;
  }

  header .menu .hamburguer {
      display: none;
  }

  header .menu {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
  }

  header .menu nav {
      position: relative;
      background: transparent;
      display: initial;
      top: 0;
      padding: 0;
      width: 100%;
  }

  header .menu nav ul {
      display: flex;
      justify-content: space-between;
      padding-left: 27px;
      margin: 0;
  }

  header .menu nav ul .navigation,
  header .menu nav ul .login {
      display: flex;
      align-items: center;
  }

  header .menu nav ul .login {
      border-top: 0;
      margin: 0;
      padding: 0;
  }

  header .menu nav ul li a:not(.btn):hover {
      color: var(--very-dark-blue);
  }

  header .menu nav ul li a:not(.btn) {
      color: var(--grayish-violet);
      padding: 18px;
  }

  header .menu nav ul li .btn {
      margin-left: 27px;
  }

  .hero {
      flex-direction: row;
      margin: 2em 0;
  }
  
  .hero .hero-img {
      flex: .46;
      background-position: left center;
      /* background-size: 610px auto; */
      background-size: auto 440px;
      height: 490px;
  }
  
  .hero .hero-content {
      flex: .54;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-top: 0;
      margin-right: 0;
      padding-right: 20px;
  }

  .hero .hero-content h1 {
      font-size: 3.4em;
      line-height: 1.2em;
      margin: 0;
  }

  .hero .hero-content h1 + p {
      margin-top: 0;
      max-width: 550px;
  }

  .hero .hero-content .btn {
      align-self: flex-start;
      margin-bottom: 0;
  }

  .shortener form {
      background: url(../img/bg-shorten-desktop.svg) no-repeat;
      background-color: var(--dark-violet);
      padding: 52px 64px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
  }

  .shortener form.error {
      padding: 52px 64px 28px 64px;
  }

  .shortener .link-input {
      flex: 1;
  }

  .shortener form input {
      padding: 1em;
      max-height: 57px;
  }

  .shortener form input[type=submit] {
      cursor: pointer;
      margin-top: 0;
      width: 190px;
      margin-left: 1em;
  }

  .shortener .links .link {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      background: white;
  }

  .shortener .links .link .original,
  .shortener .links .link .shortened-content {
      background: transparent;
      padding: 16px 24px;
      font-size: .9em;
  }

  .shortener .links .link .original {
      border-radius: 0;
  }

  .shortener .links .link .shortened-content {
      border-radius: 0;
      flex-direction: row;
      align-items: center;
      border-top: 0;
  }

  .shortener .links .link .shortened-content a:nth-of-type(1) {
      margin-bottom: 0;
      margin-right: 1.5em;
  }

  .shortener .links .link .shortened-content .btn-square {
      font-size: .8em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 90px;
      height: 35px;
  }

  .statistics .description {
      width: 515px;
      margin: 0 auto;
      margin-top: 1em;
  }

  .statistics .statistics-items {
      display: flex;
      margin-top: 5em;
      align-items: flex-start;
      position: relative;
  }

  .statistics .statistics-items::after {
      content: " ";
      width: 100%;
      height: 8px;
      top: 50%;
      background: var(--cyan);
      position: absolute;
      z-index: 0;
  }

  .statistics .statistics-items .item {
      margin: 0;
      max-width: 350px;
      text-align: left;
      z-index: 1;
  }

  .statistics .statistics-items .item:nth-of-type(2) {
      margin: 0 30px;
      margin-top: 3em;
  }

  .statistics .statistics-items .item:nth-of-type(3) {
      margin-top: 6em;
  }

  .statistics .statistics-items .item:not(:last-child)::after {
      display: none;
  }
  
  .statistics .statistics-items .item .icon {
      align-self: flex-start;
  }  
  
  .call-to-action {
      background: url(../img/bg-boost-desktop.svg) no-repeat;
      background-size: 100% 100%;
      background-color: var(--dark-violet);
      padding: 2.5em 0;
  }

  footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }

  footer .footer-content {
      display: flex;
      justify-content: flex-end;
  }

  footer .footer-nav {
      display: flex;
      margin-right: 30px;
  }

  footer .nav-section {
      text-align: left;
      margin-top: 0;
  }

  footer .nav-section:nth-of-type(2) {
      margin: 0 40px;
  }

  footer .nav-section h4 {
      margin-top: 0;
  }

  footer .social ul {
      margin-top: 0;
  }

  footer .nav-section a:hover,
  footer .social ul li a:hover {
      color: var(--cyan);
  }
}

@media screen and (min-width: 1440px) {
  .layout-m {
      margin: 0 165px;
  }
  
  .layout-p {
      padding: 0 165px;
  }

  footer .footer-nav {
      margin-right: 100px;
  }

  footer .nav-section:nth-of-type(2) {
      margin: 0 80px;
  }
}